#page-wrap {
    text-align: center;
    overflow: auto;
  }
  
  .bm-item {
    display: inline-block;
    text-decoration: none;
    margin-bottom: 15px;
    color: #d1d1d1;
    transition: color 0.2s;
  }
  
  .bm-item:hover {
    color: white;
  }
  
  .bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    left: 36px;
    top: 36px;
  }
  
  .bm-burger-bars {
    background: #373a47;
  }
  
  .bm-cross-button {
    height: 24px;
    width: 24px;
  }
  
  .bm-cross {
    background: #bdc3c7;
  }
  
  .bm-menu {
    background: #373a47;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
  }
  
  .bm-morph-shape {
    fill: #373a47;
  }
  
  .bm-item-list {
    color: #b8b7ad;
  }
  
  .bm-overlay {
    background: rgba(0, 0, 0, 0.3);
  }

  .sidebar title{
      padding-bottom: 30px;
  }

.welcome button{
    padding: 5px;
    display: flex;
    margin: 10px 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.welcome{
    text-align: center;
    display: flex;
    justify-content: center;
}

.welcome button{
    text-decoration: none;
    color: black;
    border-radius: 10px;
}

.welcome button a{
    text-decoration: none;
}


.welcome button :visited{
    text-decoration: none;
    color: black;
}

.Header titre{
    background: #373a47;
    background-color: #373a47;
}

.logement{
    background-color: silver;
    margin-bottom: 10px;
    display: inline-block;
}

.logementsell button{
    text-decoration: none;
    color: black;
    border-radius: 10px;
}


.logementsell button :visited{
    text-decoration: none;
    color: black;
}

.createHouse input {
    border-radius: 2%;
}